<!DOCTYPE html>
<html>
<head>
  <title>RealtimeValidationsSimple</title>
  <%= stylesheet_link_tag    "application", 'realtime_validations/core', :media => "all" %>
  <%= javascript_include_tag "application", 'realtime_validations/core' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
